<header class="header">
  <form class="header__form">
    <img class="header__logo" src="./assets/edit-tools.png" alt="pen and brush logo image">
      <a href="/" class="">Home</a>
      <a href="my-posts" class="">My posts</a>
  </form>
</header>
