<header class="header">
  <form class="header__form" action="/logged-out" method="post">
    <img class="header__logo" src="./assets/edit-tools.png" alt="pen and brush logo image">
      <a href="/" class="">Home</a>
      <a href="my-posts" class="">My posts</a>
      <p> Hello {{credentials.username}}! </p>
      <button type="submit" name="button" class="button">Log-Out</button>
  </form>
</header>
