{{#if credentials.username}}
  {{>header_logged_in}}
{{else}}
  {{>header}}
  {{#if message}}
  <div class="error">{{message}}</div>
  {{/if}}
{{/if}}
{{>articles}}
{{#if message}}
  <form class="main" action="/" method="get">
  <article class="blogpost">{{message}}</article>
{{> button}}
</form>
{{/if}}
