<form class="registration" action="/register" method="post">
  <input type="text" placeholder="escribe " name="username">
  <input type="password" placeholder="escribe " name="password">
  <button submit="">Enviar</button>
</form>
