{{>header_write_posts}}
{{#if message}}
<section class="error">{{message}}</section>
{{/if}}
<form class="write-post" action="" method="post">
  <input class="write-post__title" type="text" placeholder="Titulo">
  <textarea class="write-post__content" type="text" placeholder="Escribe tu entrada en el blog aqui"></textarea>
  <input class="button" type="submit"  value="enviar">
</form>
