html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.header{
  background-color:#81F4E1;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.header__form {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}
.header__logo {
    width: 5%;
    height: 5%;
    align-self: flex-start;
}
.blogpost {
    width 60%;
    margin: 1rem;
}
