html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #F4F5F6;
}

* {
  font-family: 'Pavanam', sans-serif;
}

.header{
  background-color: #81F4E1;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.header__form {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}
.header__logo {
    width: 5%;
    height: 100%;
    align-self: flex-start;
}

.form__postLink {
  background-color: #81F4E1;
  border: 1px solid #81F4E1;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 0;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blogpost {
    width: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    -webkit-box-shadow: 0 2px 2px grey;
    box-shadow: 0 2px 2px grey;
    background: white;
    /*background-color: rgba(129, 244, 225, 0.3);*/
    /*border-radius: 1rem;*/
}

.blogpost__body{
  padding: 1rem;
}

.write-post {
    height: 80%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}

.write-post * {
    font-size: 1.2rem;
    margin: 1rem 0;
    border: 0;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.write-post__title {
    width: 50%;
}

.write-post__content {
    width: 75%;
    min-height: 70%;
}

.button {
    background-color: #81F4E1;
    border: 0;
    font-size: 1.2rem;
    margin: 0;
    height: 2rem;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    cursor: pointer;
    transition: 0.5s ease;
}

.button:hover, .button:focus {
  transform: scale(1.1);

}

.button__home {
    margin: 1rem;
}
